.dashboard{
	display: flex;
	flex: 2;
	padding-top: 30px;
	height: 100vh;
	font-size: 3rem;
	color: #000000;
}

.dashboard title{
	font-family: "Overlock", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	margin-block: 0;
	color: black;
	opacity: 0.7;
}