.shop {
  display: flex;
  height: 20vh;
  top: 0;
  align-items: flex-start;
  padding: 30px;
  justify-content: center;
  font-size: 3rem;
  color: #926565;
}

.shop .shopleft-div {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5vh;
  margin-right: 12vh;
}

.shop .tb {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 300px;
  margin-right: 10px;
}

.shop .tx {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 360px;
  margin-right: 90px;
}

.shop .rec {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  margin-right: 380px;
}

.shop .pet {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 60px;
  margin-right: 700px;
}

.shop .hat {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 1250px;
}

.shop .hat_p {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 535px;
  margin-right:700px;
}

.shop .must_p {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 450px;
  margin-right:670px;
}

.shop .brace_p {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 350px;
  margin-right:800px;
}
.shop .mustache {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 1000px;
}

.shop h1 {
  font-family: "Overpass";
  font-weight: 400;
  font-size: 64px;
  color: gray;
  margin-block: 122px;
  margin-bottom: 800px;
  margin-right: -80px;
}

.shop .bracelet {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 44px;
  margin-right: 710px;
}

.shop .cs {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 48px;
  margin-right: 470px;
}
.shop .button1 {
  font-weight: 600;
  font-size: 18px;
  color: #f6fffe;
  background-color: #e5681b;
  position: absolute;
  bottom: 55px;
  right: 1340px;

}
.button2:hover,
.button3:hover {
  background-color: #c3b327;
}

.shop .button2 {
  font-weight: 600;
  font-size: 18px;
  color: #f6fffe;
  background-color: #e5681b;
  position: absolute;
  bottom: 55px;
  right: 1075px;
  cursor: pointer;

}

.shop .button3 {
  font-weight: 600;
  font-size: 18px;
  color: #f6fffe;
  background-color: #e5681b;
  position: absolute;
  bottom: 56px;
  right: 815px;
  cursor: pointer;
}
