.settings-page {
  flex: 0.8;
  padding-top: 30px;
  padding-left: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.settings-inputs {
  margin-left: 15%;
}

.settings-buttons {
  margin-left: 15%;
  max-width: 640px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.settings-buttons .link-button {
  width: 40%;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;

  margin-block: 0;

  color: black;
  opacity: 0.7;
}
